body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #5d85c1;

  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */
  min-height: 100vh;         /* full screen height */
}

.container {
  text-align: center;
  color: black;
}


.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}


.card {
  background: rgb(214, 234, 116);
  width: 250px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h2 {
  margin: 10px 0;
  color: #2c3e50;   /* Change this color */
}


.card h4 {
  color: rgb(22, 21, 21);
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  margin-bottom: 15px;
  color: #555;   /* Change this color */
}


.follow-btn {
  background-color: #007bff;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.unfollow-btn {
  background-color: #dc3545;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}
.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
}

/* Follow */
.follow {
  background-color: #007bff;
}

/* Following */
.following {
  background-color: #28a745;
}

/* Unfollow */
.unfollow {
  background-color: #dc3545;
}

.btn:hover {
  opacity: 0.9;
}


